.btn {
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 10px 36px;
    text-align: center;
    transition: all 0.4s ease-in-out;
    letter-spacing: 0;
    text-transform: lowercase;
    transform: translateY(0px);

    &:hover, &:active, &:focus{
        color: $white;
        transform: translateY(-3px);
        outline: unset;
        box-shadow: unset;
    }

    &--primary {
        color: $white;
        background: $brand-color--default;
        &:hover {
            background: $brand-color--two;
        }
    }

    &--sm {
        padding: 19px 28px;
    }

    &--secondary{
        background-image: none;
        background-color: $brand-color--two;
        &:hover{
            background-image: none;
            background: $brand-color--two;
        }
    }
    &--black{
        color: $white;
        background-image: none;
        background-color: $black;
        &:hover{
            background-image: none;
            background: $black;
        }
    }
    &--white{
        background-image: none;
        background-color: $white;
        color: $black;
        box-shadow: 0 0 30px 5px rgba(0,0,0,0.07);
        &:hover, &:focus{
            background-image: none;
            background: $white;
            color: $black;
        }
    }
    &--gradient{
        background: linear-gradient(150deg, $brand-color--default 0, $brand-color--green 100%) !important;
        &:hover{
            background-image: none;
        }
    }

    &--link{
        color: $brand-color--default;
        &:hover{
            transform: translateY(-5px);
        }
    }
    &-bottom-line {
        border: unset $im;
        border-bottom: 2px solid $brand-color--gary $im;
        border-radius: 0 $im;
        color: $brand-color--gary $im;
        padding: 27px 14px $im;
        &.active {
            color: $brand-color--default $im;
            border-bottom-color: $brand-color--default $im;
        }
        &:hover {
            color: $white $im;
            background-color: $brand-color--two $im;
            border-bottom-color: $brand-color--two $im;
        }
    }
    &-text {
        color: $brand-color--default;
        font-size: 14px;
        font-weight: bold;
    }
}
