.form {
    &-wrapper {
        .form-input {
            @include media-breakpoint-down(sm) {
                width: 100%;
            }
        }
    }
    &-input {
        margin: 0 0 20px;
        & input , textarea , select {
            width: 100%;
            color: #000;
            border-color: $offwhite;
            background-color: $offwhite;
            font-size: 15px;
            font-weight: 400;
            letter-spacing: 0;
            outline: none;
            border-radius: 5px;
            padding: 3px 20px;
            height: 56px;
        }
        &  textarea {
            height: 150px;
            padding: 15px;
        }
        & select {
            color: #777;
        }
    }
}
