.text-primary {
  color: #086AD8 !important;
}
.text-accent {
  color: #d2a98e !important;
}
.text-gray {
  color: #5d5d5d !important;
}
.text-center {
  text-align: center;
  text-align: -webkit-center !important;
  text-align: -moz-center !important;
}

.nk-sidebar .nk-menu-item.active {
  background: #d2a98e;
  border-radius: 24px;
  margin-left: 10px;
  margin-right: 10px;
}
.nk-sidebar .nk-menu-item.active a, .nk-sidebar .nk-menu-item.active i {
  color: #fff;
}

.table .field-name {
  text-transform: uppercase;
  font-size: 12px;
  padding: 0.7rem !important;
  font-family: "Arial", sans-serif;
}
.table td {
  font-size: 14px !important;
}
.table th {
  font-size: 12px !important;
  text-transform: uppercase;
}
@media (max-width: 991.98px) {
  .table td {
    min-width: 150px;
  }
  .table td:first-child {
    min-width: unset;
  }
}

.status {
  display: inline-block;
  padding: 0 10px;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 30px;
  font-size: 12px;
}
.status-un-paid, .status-unverified {
  color: #ad0e0e;
  background-color: #f69191;
}
.status-delivered, .status-verified {
  color: #217243;
  background-color: #abe7c4;
}
.status-draft {
  color: #2a2a2a;
  background-color: #aaaaaa;
}
.status-confirm {
  color: #42446b;
  background-color: #cccde0;
}
.status-pending {
  color: #c66609;
  background-color: #fde7d1;
}

.pagination {
  margin-top: 10px !important;
  float: right;
}
.pagination .page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: #086AD8;
  border-color: #dee2e6;
}
.pagination .page-item.disabled .page-link {
  color: #868e96;
  pointer-events: none;
  background-color: #fff;
  border-color: #5d5d5d;
}
.pagination .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  border-radius: 5px;
  color: #086AD8;
  background-color: #fff;
  border: unset !important;
}
.pagination .page-link:focus, .pagination .page-link:hover {
  color: #0652a7;
  text-decoration: none;
  background-color: #e9ecef;
  border-color: #5d5d5d;
  box-shadow: unset !important;
}

.empty-state {
  min-height: 300px;
  padding: 30px 0 20px;
  text-align: center;
}
.empty-state.order {
  min-height: 0 !important;
  padding: 20px 0 20px;
}
.empty-state__icon {
  display: inline-block;
  width: 170px;
  height: 170px;
  margin: 0 auto;
  padding: 38px 0;
  font-size: 80px !important;
  line-height: 1;
  border-radius: 50%;
  border: 2px solid #5d5d5d;
}
.empty-state__icon.icon-grey {
  color: #999;
  border: 2px solid #ccc;
}
.empty-state__icon.icon-success {
  color: #38c172;
  border: 2px solid #38c172;
}
.empty-state__icon.icon-danger {
  color: #ee3333;
  border: 2px solid #ee3333;
}
.empty-state__description {
  font-size: 18px;
  line-height: 1.3333333;
  color: #666;
}

.btn {
  font-size: 15px;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 10px 36px;
  text-align: center;
  transition: all 0.4s ease-in-out;
  letter-spacing: 0;
  text-transform: lowercase;
  transform: translateY(0px);
}
.btn:hover, .btn:active, .btn:focus {
  color: #fff;
  transform: translateY(-3px);
  outline: unset;
  box-shadow: unset;
}
.btn--primary {
  color: #fff;
  background: #086AD8;
}
.btn--primary:hover {
  background: #d2a98e;
}
.btn--sm {
  padding: 19px 28px;
}
.btn--secondary {
  background-image: none;
  background-color: #d2a98e;
}
.btn--secondary:hover {
  background-image: none;
  background: #d2a98e;
}
.btn--black {
  color: #fff;
  background-image: none;
  background-color: #000;
}
.btn--black:hover {
  background-image: none;
  background: #000;
}
.btn--white {
  background-image: none;
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 30px 5px rgba(0, 0, 0, 0.07);
}
.btn--white:hover, .btn--white:focus {
  background-image: none;
  background: #fff;
  color: #000;
}
.btn--gradient {
  background: linear-gradient(150deg, #086AD8 0, #38cb89 100%) !important;
}
.btn--gradient:hover {
  background-image: none;
}
.btn--link {
  color: #086AD8;
}
.btn--link:hover {
  transform: translateY(-5px);
}
.btn-bottom-line {
  border: unset !important;
  border-bottom: 2px solid #5d5d5d !important;
  border-radius: 0 !important;
  color: #5d5d5d !important;
  padding: 27px 14px !important;
}
.btn-bottom-line.active {
  color: #086AD8 !important;
  border-bottom-color: #086AD8 !important;
}
.btn-bottom-line:hover {
  color: #fff !important;
  background-color: #d2a98e !important;
  border-bottom-color: #d2a98e !important;
}
.btn-text {
  color: #086AD8;
  font-size: 14px;
  font-weight: bold;
}
.btn-icon {
  padding: 5px !important;
  font-size: 18px;
}

@media (max-width: 767.98px) {
  .form-wrapper .form-input {
    width: 100%;
  }
}
.form-input {
  margin: 0 0 20px;
}
.form-input input, .form-input textarea, .form-input select {
  display: block;
  width: 100%;
  color: #000;
  border-color: transparent;
  background-color: #f8f8f8;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0;
  outline: none;
  border-radius: 5px;
  padding: 3px 20px;
  height: 56px;
}
.form-input textarea {
  height: 150px;
  padding: 15px;
}
.form-input select {
  color: #777;
}

body {
  font-size: 1rem;
  background-color: #f8f8f8;
}

a {
  color: #086AD8;
}
a:hover {
  text-decoration: none;
  color: #000;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: unset;
}

.ptb-260 {
  padding: 170px 0;
}
@media (min-width: 768px) {
  .ptb-260 {
    padding: 260px 0;
  }
}

.fs-26px {
  font-size: 26px;
}
.fs-48 {
  font-size: 30px;
}
@media (min-width: 1200px) {
  .fs-48 {
    font-size: 48px;
  }
}
.fs-38 {
  font-size: 38px;
}
@media (max-width: 767.98px) {
  .fs-38 {
    font-size: 30px;
  }
}
.fs-20 {
  font-size: 20px;
}
.fs-14 {
  font-size: 14px;
}

.lh-108 {
  line-height: 108px;
}

.mt-40 {
  margin-top: 40px;
}

.cursor-pointer {
  cursor: pointer;
}

.vht-100 {
  height: 100vh;
}

.error {
  color: #ee3333;
  font-size: 13px;
}

.bd-0 {
  border-radius: 0;
}
